.glitch {
  color: white;
  font-size: 24px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.increase-size {
  font-size: 28px;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(95px, 9999px, 46px, 0);
  }
  10% {
    clip: rect(34px, 9999px, 95px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 31px, 0);
  }
  30% {
    clip: rect(98px, 9999px, 85px, 0);
  }
  40% {
    clip: rect(94px, 9999px, 70px, 0);
  }
  50% {
    clip: rect(25px, 9999px, 75px, 0);
  }
  60% {
    clip: rect(29px, 9999px, 65px, 0);
  }
  70% {
    clip: rect(78px, 9999px, 53px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 23px, 0);
  }
  90% {
    clip: rect(15px, 9999px, 5px, 0);
  }
  100% {
    clip: rect(71px, 9999px, 49px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(95px, 9999px, 46px, 0);
  }
  10% {
    clip: rect(34px, 9999px, 95px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 31px, 0);
  }
  30% {
    clip: rect(98px, 9999px, 85px, 0);
  }
  40% {
    clip: rect(94px, 9999px, 70px, 0);
  }
  50% {
    clip: rect(25px, 9999px, 75px, 0);
  }
  60% {
    clip: rect(29px, 9999px, 65px, 0);
  }
  70% {
    clip: rect(78px, 9999px, 53px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 23px, 0);
  }
  90% {
    clip: rect(15px, 9999px, 5px, 0);
  }
  100% {
    clip: rect(71px, 9999px, 49px, 0);
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 1px;
  text-shadow: -0.1px white;
  top: 0;
  color: whitesmoke;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 1s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(98px, 9999px, 16px, 0);
  }
  10% {
    clip: rect(70px, 9999px, 66px, 0);
  }
  20% {
    clip: rect(88px, 9999px, 91px, 0);
  }
  30% {
    clip: rect(53px, 9999px, 84px, 0);
  }
  40% {
    clip: rect(25px, 9999px, 2px, 0);
  }
  50% {
    clip: rect(14px, 9999px, 71px, 0);
  }
  60% {
    clip: rect(38px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(87px, 9999px, 27px, 0);
  }
  80% {
    clip: rect(7px, 9999px, 77px, 0);
  }
  90% {
    clip: rect(43px, 9999px, 51px, 0);
  }
  100% {
    clip: rect(31px, 9999px, 74px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(98px, 9999px, 16px, 0);
  }
  10% {
    clip: rect(70px, 9999px, 66px, 0);
  }
  20% {
    clip: rect(88px, 9999px, 91px, 0);
  }
  30% {
    clip: rect(53px, 9999px, 84px, 0);
  }
  40% {
    clip: rect(25px, 9999px, 2px, 0);
  }
  50% {
    clip: rect(14px, 9999px, 71px, 0);
  }
  60% {
    clip: rect(38px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(87px, 9999px, 27px, 0);
  }
  80% {
    clip: rect(7px, 9999px, 77px, 0);
  }
  90% {
    clip: rect(43px, 9999px, 51px, 0);
  }
  100% {
    clip: rect(31px, 9999px, 74px, 0);
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -0.1px;
  text-shadow: -0.1px 0px blue;
  top: 0;
  color: #f2f2fb;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 1s infinite linear alternate-reverse;
}
/*# sourceMappingURL=styles.css.map */